/* For occupying full screen */
html,
body {
  /* width: 100%; */
  height: 100%;
  font-family: sans-serif;
  font-size: small;
}

:root {
  --textcolor: black;
  --textcolor-opposite: white;
  --textcolor-hint: darkslategray;
  --textcolor-footer: dimgray;
}

.flex-container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  flex: 1;
}

#header {
  display: flex;
  flex-direction: row-reverse;
}

#header > div {
  text-align: center;

  display: flex;
  margin-right: 18px;
}

.header-account {
  --size: 32px;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  background-color: lightslategray;
  color: var(--textcolor-opposite);
  font-size: large;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-app {
  color: dimgray;
}

.header-link {
  text-decoration: none;
  color: var(--textcolor);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link-dynamic {
  text-decoration: none;
  color: var(--textcolor);

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link-dynamic:hover {
  text-decoration: underline;
}

#logo {
  display: flex;
  justify-content: center;
}

#search-form {
  flex: 2.79;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form > div {
  margin-top: 28px;
}

.search-box {
  width: 576px;
  height: 42px;
  border-radius: 32px;

  background-color: white;
  border-style: solid;
  border-color: gainsboro;
  border-width: thin;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-box > div {
  margin-left: 12px;
}

.search-box:hover {
  box-shadow: 0 1px 5px 1px gainsboro;
}

.search-box-icon {
  color: darkgray;
  font-size: 20px !important;
}

.search-box-input {
  width: 90%;
  border: None;
  font-size: medium;

  flex: 1;
}

.search-box-input:focus {
  outline: None;
}

.search-buttons {
  width: 300px;
  height: 36px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-button {
  height: 100%;
  text-align: center;
  color: var(--textcolor-hint);
  background-color: whitesmoke;
  border-radius: 3px;

  --pad-horizontal: 18px;
  padding-left: var(--pad-horizontal);
  padding-right: var(--pad-horizontal);

  display: flex;
  align-items: center;
}

.search-button:hover {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  box-shadow: 0 2px 2px gainsboro;
}

#languages {
  flex: 2.66;
  text-align: center;
}

.language-link {
  margin: 5px;
  color: darkblue;
  text-decoration: none;
}

#footer {
  flex: 1.55;

  background-color: whitesmoke;
  text-align: center;

  display: flex;
  flex-direction: column;

  --footer-padding: 30px;
}

.footer-locale {
  flex: 1;

  font-size: larger;
  color: var(--textcolor-footer);

  padding-left: var(--footer-padding);
  padding-right: var(--footer-padding);

  display: flex;
  align-items: center;
}

.footer-divider {
  width: 99.8%;
  border-style: solid;
  border-width: thin;
  border-color: gainsboro;
}

.footer-misc {
  flex: 1;

  padding-left: var(--footer-padding);
  padding-right: var(--footer-padding);

  display: flex;
  align-items: center;
}

.footer-misc > div {
  flex: 1;
  height: 100%;
}

.footer-misc-left {
  margin-left: 5px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-misc-left > a {
  margin-right: 32px;
}

.footer-misc-right {
  margin-right: 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-misc-right > a {
  margin-left: 32px;
}

.footer-misc-link {
  text-decoration: none;
  color: var(--textcolor-footer);
}
